Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2
SQLAlchemy==2.0.36
greenlet==3.1.1
Flask-Mail==0.10.0
gunicorn
pytz