<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        SISTEM PAKAR DIAGNOSA LAMBUNG
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for(
            'static',
            filename='css/style.css'
        ) }}">

</head>

<body>

    <!-- HEADER -->
    <header class="main-header">

        <div class="logo">
            SISTEM PAKAR DIAGNOSA LAMBUNG
        </div>

    </header>

    <main>

      {% with messages =
      get_flashed_messages(with_categories=true) %}

      {% if messages %}

      <div class="flash-container">

    {% for category, message in messages %}

    {% if category == 'success' %}
    <div class="flash-message flash-success">
    {% elif category == 'info' %}
    <div class="flash-message flash-info">
    {% else %}
    <div class="flash-message flash-danger">
    {% endif %}

    {{ message }}

    </div>

    {% endfor %}

      </div>

      {% endif %}
      {% endwith %}

        {% block content %}
        {% endblock %}

    </main>

    <script
        src="{{ url_for(
            'static',
            filename='js/global.js'
        ) }}">
    </script>


</body>

</html>