{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="topbar">

    <div>
        <h1>
            Selamat Datang,
            {{ user.username }}
        </h1>

        <p>
            Kelola kesehatan lambung Anda
            dengan sistem pakar
        </p>
    </div>

</div>


<div class="cards">

    <div class="card">

        <div class="icon green">
            <i class="fa-solid fa-clipboard-list"></i>
        </div>

        <div>
            <h3>Total Diagnosa</h3>
            <h2>{{ total_diagnosa }}</h2>
            <p>Semua riwayat diagnosa</p>
        </div>

    </div>


    <div class="card">

        <div class="icon blue">
            <i class="fa-solid fa-calendar-days"></i>
        </div>

        <div>
            <h3>Status</h3>
            <h2>Aktif</h2>
            <p>Akun berjalan</p>
        </div>

    </div>


    <div class="card">

        <div class="icon orange">
            <i class="fa-solid fa-heart-pulse"></i>
        </div>

        <div>
            <h3>Kondisi</h3>
            <h2>{{ kondisi }}</h2>
            <p>{{ pesan_kondisi }}</p>
        </div>

    </div>

</div>


<div class="hero-card">

    <div>

        <h2>
            Mulai Diagnosa Sekarang
        </h2>

        <p>
            Pilih gejala yang Anda alami
            untuk mengetahui kemungkinan
            penyakit lambung.
        </p>

        <a
        href="/diagnosa"
        class="btn-main">

            Mulai Diagnosa
        </a>

    </div>

</div>

{% endblock %}