{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h1>
            Forgot Password
        </h1>

        <p>
            Masukkan email akun Anda
        </p>

        <form method="POST">

            <input
                type="email"
                name="email"
                placeholder="Masukkan email"
                required
            >

            <button type="submit">
                Kirim OTP
            </button>

        </form>

    </div>

</div>

{% endblock %}