{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h1>
            Lupa Kata Sandi
        </h1>


        <form method="POST">

            <div class="form-group">
                <label for="email">
                    Email
                </label>

            <input
                type="email"
                name="email"
                placeholder="Masukkan email"
                required
            >
            </div>

            <button type="submit">
                Kirim OTP
            </button>

            <div class="auth-links">
            <a
                href="{{ url_for('auth.login') }}"
            >
                Kembali Masuk Akun
            </a>
        </div>

        </form>

    </div>

</div>

{% endblock %}