{% extends "base.html" %}

{% block title %}
Profil Saya
{% endblock %}

{% block content %}

<div class="profile-container">

    <div class="profile-card">

        <div class="profile-avatar">
            👤
        </div>

        <h1>{{ user.nama }}</h1>

        <div class="profile-info">

            <div class="info-row">
                <span>Email</span>
                <strong>{{ user.email }}</strong>
            </div>

            <div class="info-row">
                <span>Tanggal Lahir</span>
                <strong>{{ user.tanggal_lahir.strftime('%d-%m-%Y') }}</strong>
            </div>

            <div class="info-row">
                <span>Umur</span>
                <strong>{{ user.umur }} Tahun</strong>
            </div>

            <div class="info-row">
                <span>Jenis Kelamin</span>
                <strong>{{ user.jenis_kelamin }}</strong>
            </div>

        </div>

        <a href="{{ url_for('auth.edit_profile') }}"
           class="edit-profile-btn">

            Edit Profil

        </a>

        <a href="{{ url_for('diagnosa.dashboard') }}"
          class="back-dashboard-btn">

            ⬅ Kembali ke Dashboard

        </a>

    </div>

</div>

{% endblock %}