{% extends 'base.html' %}

{% block content %}

<div class="profile-card">

    <h1>Profil Saya</h1>

    <form method="POST">

        <label>Username</label>

        <input
        type="text"
        name="username"
        value="{{ current_user.username }}"
        required
        >

        <label>Email</label>

        <input
        type="email"
        name="email"
        value="{{ current_user.email }}"
        required
        >

        <button type="submit">
            Simpan Perubahan
        </button>

    </form>

</div>

{% endblock %}