{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h1>
            Password Baru
        </h1>

        <p>
            Buat password baru Anda
        </p>

        <form method="POST">

            <input
                type="password"
                name="password"
                placeholder="Password baru"
                required
            >

            <input
                type="password"
                name="confirm_password"
                placeholder="Konfirmasi password"
                required
            >

            <button type="submit">
                Simpan Password
            </button>

        </form>

    </div>

</div>

{% endblock %}