{% extends 'base.html' %}

{% block content %}

<div class="user-info-card">

    <h1>
        Data Diri
    </h1>

    <p>
        Isi data untuk
        melihat hasil
        diagnosa
    </p>

    <form method="POST">

        <input
        type="text"
        name="nama"
        placeholder="Nama Lengkap"
        required>

        <input
        type="email"
        name="email"
        placeholder="Email"
        required>

        <button
        class="btn-start">

            Lihat Hasil

        </button>

    </form>

</div>

<script src="{{ url_for('static', filename='js/user_info.js') }}"></script>

{% endblock %}