{% extends "base.html" %}

{% block title %}
Verifikasi OTP
{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card otp-card">

        <div class="otp-icon">
            🔐
        </div>

        <h1>
            Verifikasi OTP
        </h1>

        <form method="POST">

          <div class="form-group">
            <input
                type="text"
                id="otp"
                name="otp"
                minlength="6"
                maxlength="6"
                placeholder="Masukkan OTP"
                required
            >
          </div>

            <button type="submit">
                Verifikasi
            </button>

        </form>

    </div>

</div>

{% endblock %}