<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>
        Login - Sistem Pakar Diagnosa Lambung
    </title>

    <link rel="stylesheet"
    href="{{ url_for(
        'static',
        filename='css/style.css'
    ) }}">

</head>

<body class="landing-body">

<!-- HEADER -->

<header class="main-header">

    <div class="logo">

        SISTEM PAKAR DIAGNOSA LAMBUNG

    </div>


    <div class="header-right">

        <!-- CTA -->

        <a
        href="/"
        class="header-start-btn">

            🏠 Home

        </a>

    </div>

</header>

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

<div class="flash-container">

    {% for category, message in messages %}

        {% if category == 'success' %}
            <div class="flash-message flash-success">
        {% elif category == 'info' %}
            <div class="flash-message flash-info">
        {% elif category == 'warning' %}
            <div class="flash-message flash-info">
        {% else %}
            <div class="flash-message flash-danger">
        {% endif %}

            {{ message }}

        </div>

    {% endfor %}

</div>

{% endif %}
{% endwith %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h1>Login</h1>

        <form
            method="POST"
            action="{{ url_for('auth.login') }}"
        >

        <div class="form-group">

          <label for="email">
              Email
          </label>

            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            >

        </div>

        <div class="form-group">

          <label for="password">
              Password
          </label>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

        </div>

            <button type="submit">
                Masuk
            </button>

        </form>

        <div class="auth-links">

            <a
                href="{{ url_for('auth.register') }}"
            >
                Daftar Akun
            </a>

            <a
                href="{{ url_for('auth.forgot_password') }}"
            >
                Lupa Kata Sandi
            </a>

        </div>

    </div>

</div>

</body>
</html>